---
//  library imports
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

//  data imports
import site from "../../data/site.json";

//  layout imports
import Layout from "../../layouts/Layout.astro";

//  component imports
//  import Hero from "../../components/SectionHeader.astro";
// import RelatedPosts from "../../components/RelatedPosts.astro";
import TagCloud from "../../components/Tags.astro";
// import Comments from "../../components/Comments.astro";

// utils imports
import { slugify, formatBlogPosts, formatDate } from "../../js/utils";

// export formatted blog posts
export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const formattedPosts = formatBlogPosts(allPosts);
  //@ts-ignore
  return formattedPosts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
    },
  }));
}

interface Props {
  post: CollectionEntry<"blog">;
  tags?: any[];
}

const { post } = Astro.props;
const { title, description, date, category, tags, author, image } = post.data;
const { url } = site;

const { Content } = await post.render();

const allPosts = await getCollection("blog");
const formattedPosts = formatBlogPosts(allPosts, {
  sortByDate: false,
});
const relatedPosts = formattedPosts
  .filter(
    //@ts-ignore
    (post) => post.data.category === category && post.data.title !== title,
  )
  .slice(0, 3);

// const hasSpecificTag = tags?.includes("mackdaddy");
// Replace "specific-tag" with the tag you want to check

const categoryTitle = "More Article Categories";
const postURL = url + "/blog/" + post.slug;
---

<Layout
  title={title}
  description={description}
  page={category}
  postURL={postURL}
>
  <div id="slug">
    <main id="slug__post">
      <div class="card__wrapper">
        <div class="card post">
          <header class="card__header">
            <img
              src="/assets/images/title-bar-close.png"
              height="28"
              width="28"
              class="control close"
              alt="Close"
            />
            <div class="title">
              <h3 class="card__title">
                <a href={`/category/${slugify(category)}/`} class="badge"
                  >{category}</a
                >
              </h3>
              <span class={`icon ${slugify(category)}`}>&nbsp;</span>
            </div>
            <img
              src="/assets/images/title-bar-expand.png"
              height="28"
              width="28"
              class="control expand"
            />
            <img
              src="/assets/images/title-bar-collapse.png"
              height="28"
              width="28"
              class="control collapse"
            />
            <a href="/" class="button">&nbsp;</a>
          </header>

          <section class="card__content">
            <article>
              <header>
                <section class="hero-image">
                  <svg xmlns="http://www.w3.org/2000/svg">
                    <filter id="noiseFilter">
                      <feTurbulence
                        type="fractalNoise"
                        baseFrequency="0.5"
                        numOctaves="3"
                        stitchTiles="stitch"></feTurbulence>
                    </filter>

                    <rect width="100%" height="100%" filter="url(#noiseFilter)"
                    ></rect>
                  </svg>
                  <Image
                    src={image.src}
                    alt={image.alt}
                    class={image.class}
                    width="400"
                    height="250"
                    format="webp"
                    quality={80}
                  />
                </section>
                <h1>{title}</h1>
              </header>

              <section id="content" class="post__content">
                <Content />
                <TagCloud tags={tags ?? []} />
                <section class="share">
                  <a
                    href={`https://www.facebook.com/sharer/sharer.php?u=` +
                      url +
                      "/blog/" +
                      post.slug}
                    title="Share on Facebook"
                    target="_blank"
                    rel="noopener"
                    class="button"
                  >
                    <img src="/assets/images/facebook.png" alt="" /> Share on Facebook
                  </a>
                  <a
                    href={`https://x.com/intent/tweet?url=` +
                      url +
                      "/blog/" +
                      post.slug +
                      `&text=` +
                      description}
                    title="Share on X / Twitter"
                    class="button"
                    target="_blank"
                    rel="noopener"
                  >
                    <img src="/assets/images/twitter.png" alt="" /> Share on X/Twitter
                  </a>
                  <a
                    href={`https://www.linkedin.com/shareArticle?mini=true&url=` +
                      url +
                      "/blog/" +
                      post.slug +
                      `&title=` +
                      title +
                      `&summary=` +
                      description}
                    title="Share on LinkedIn"
                    class="button"
                    target="_blank"
                    rel="noopener"
                  >
                    <img src="/assets/images/linkedin.png" alt="" /> Share on LinkedIn
                  </a>
                  <a
                    href={`https://pinterest.com/pin/create/button/?url=` +
                      url +
                      "/blog/" +
                      post.slug +
                      `&description=` +
                      description}
                    title="Share on Pinterest"
                    class="button"
                    target="_blank"
                    rel="noopener"
                  >
                    <img src="/assets/images/pinterest.png" alt="" /> Share on Pinterest
                  </a>
                  <a
                    href={`mailto:?subject=` +
                      title +
                      `&body=` +
                      description +
                      `%20` +
                      url +
                      "/blog/" +
                      post.slug}
                    title="Share via Email"
                    target="_blank"
                    class="button"
                    rel="noopener"
                  >
                    <img src="/assets/images/mail.png" alt="" /> Share via Email
                  </a>
                </section>
              </section>
            </article>
            <section class="card__meta">
              <p>
                <a href={`/author/${slugify(author)}/`}>{author}</a>
                &bull; Posted: {formatDate(date)}
              </p>
            </section>
          </section>
        </div>
      </div><!-- end: .card-wrapper -->
    </main>
    <aside class="related">
      <!-- <Comments /> -->
      <!-- <RelatedPosts {relatedPosts} /> -->
    </aside>
  </div>
</Layout>

<style is:global>
  #slug {
    margin: 0 auto;
    padding: 0 0 2rem 0;
    position: relative;
    width: 95%;
    z-index: 10;
  }
  main#slug__post {
    display: block;
    columns: unset;
    margin: 0;
    width: 100%;
  }
  .card__content > article > header {
    border-bottom: 2px solid hsl(var(--color-dark), 1);
    display: grid;
    grid-template-areas: "title";
    margin: 0 auto;
    margin-top: 0.25px;
    padding: 0;
    position: relative;
    place-items: center;
    width: 99.8%;
  }
  .card__content > article > header > .hero-image,
  .card__content > article > header > h1 {
    grid-area: title;
    position: relative;
    z-index: 1;
  }
  .card__content > article > header > .hero-image {
    margin: 0;
    padding: 0;
  }
  .card__content > article > header > h1 {
    background-color: hsl(var(--color-dark), 0.75);
    border: none !important;
    box-shadow: none !important;
    color: hsl(var(--color-light), 1);
    display: grid;
    font-size: clamp(4ch, 5ch, 7ch);
    height: 100%;
    line-height: 120%;
    margin: 0 !important;
    padding: 1rem 2rem;
    pointer-events: none;
    place-items: center;
    text-align: center;
    width: 100%;
    z-index: 5;
  }
  #slug > main {
    padding-bottom: 0;
  }
  aside.related {
    width: 100%;
  }
  #slug__post .card__wrapper {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
  }
  #content {
    display: flow-root;
    overflow-y: hidden;
    padding: 2rem;
    pointer-events: all;
    position: relative;
    z-index: 1;
  }
  #content a {
    color: hsl(var(--color-selection), 1);
  }
  #content h1 {
    font-size: clamp(3ch, 5ch, 7ch);
    line-height: 100%;
    padding-bottom: 2rem;
    text-align: center;
  }
  #content :where(h2, h3) {
    font-size: clamp (2ch, 3ch, 1.8rem);
    margin-bottom: 2rem;
  }
  #content h4 {
    font-size: 1.5ch;
    margin-bottom: 2rem;
  }
  #content h5 {
    font-size: 1ch;
    margin-bottom: 2rem;
  }
  #content h6 {
    font-size: 0.5ch;
    margin-bottom: 2rem;
  }
  #content :where(h2, h3, h4, h5, h6) {
    border-bottom: 1px solid hsl(var(--color-dark), 0.5);
    box-shadow: 0 1px 0 hsl(var(--color-mid), 1);
    padding-bottom: 1rem;
  }
  #content p {
    margin-bottom: 2rem;
  }
  #content p.center {
    text-align: center;
  }
  #content p:last-of-type {
    margin-bottom: 0;
  }
  #content :where(img, iframe) {
    outline: 2px solid hsl(var(--color-dark), 0.75);
    box-shadow: 8px 8px 0 hsl(var(--color-dark), 0.5);
  }
  #content img {
    object-fit: contain;
    height: auto;
    max-width: 100%;
  }
  #content img.no-border {
    outline: none;
    box-shadow: none;
  }
  #content iframe {
    display: block;
    margin: 2rem auto;
    max-width: 100%;
  }
  #content li {
    line-height: 150%;
    margin-bottom: 2rem;
    padding-left: 1rem;
  }
  #content li:last-of-type {
    margin-bottom: 0;
  }
  #content :not(pre) code {
    background-color: hsl(var(--color-mid), 1);
    display: inline-block;
  }
  #single-post .hero-image {
    margin: 0;
  }
  #single-post .hero-image img {
    max-height: 400px;
  }
  .card__header a.button {
    all: unset;
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    width: 36px;
  }
  .control.collapse,
  .control.expand {
    opacity: 0;
  }
  .share {
    border-top: 1px solid hsl(var(--color-dark), 0.5);
    box-shadow: 0 -1px 0 hsl(var(--color-mid), 1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0 0 0;
    padding: 2rem 0 0 0;
  }
  .share a {
    margin: 0;
  }

  @media screen and (min-width: 900px) {
    #slug {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: min(100ch, 100%);
    }
  }
  /*
  @media screen and (min-width: 900px) {
    #slug {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: start;
      margin: 0 0 0 1rem;
      width: min(90%, 100%);
    }
    #slug > main {
      columns: unset;
      flex: 1 1 65%;
      min-width: 25ch;
    }
    #slug > aside.related {
      flex: 1 1 35%;
      min-width: 15ch;
      position: sticky;
      top: 3rem;
    }
  }
*/

</style>
