---
//  library imports
// import { Image } from "astro:assets";

// data imports
import * as site from "../data/site.json";

//  layout imports
import Layout from "../layouts/Layout.astro";

//  component imports
// import Hero from "../../components/Hero.astro";
import Social from "../components/Social.astro";

const { author, youtube } = site;

const title = "About";
const description =
  "Mack Richardson is a software developer living the small town life in central North Carolina with his amazing wife, Lara, and his dog, Stubby. Besides creating efficient, user-friendly applications; he has a passion for vintage comics, books and toys.";
---

<Layout title={title} description={description} page={title}>
  <main>
    <div class="card__wrapper">
      <div class="card post">
        <header class="card__header">
          <img
            src="/assets/images/title-bar-close.png"
            height="28"
            width="28"
            class="control close"
            alt="Close"
          />
          <div class="title">
            <h3 class="card__title">
              {title}
              {author}
            </h3>
            <span class="icon">&nbsp;</span>
          </div>
          <img
            src="/assets/images/title-bar-expand.png"
            height="28"
            width="28"
            class="control expand"
          />
          <img
            src="/assets/images/title-bar-collapse.png"
            height="28"
            width="28"
            class="control collapse"
          />
          <a href="/" class="button">&nbsp;</a>
        </header>

        <section class="card__content">
          <article>
            <section id="content">
              <h1>{author}</h1>
              <img
                src="/assets/images/mack-hoodie.png"
                alt=""
                class="avatar mack-hoodie"
              />
              <p>
                Mack Richardson is a seasoned software developer who enjoys the
                charm and tranquility of small-town living in central North
                Carolina. He shares his life with his incredible wife, Lara, and
                their loyal and lovable dog, Stubby, who keeps them endlessly
                entertained.
              </p>
              <p>
                By day, Mack is dedicated to crafting efficient, user-friendly
                applications that tackle real-world challenges with elegance and
                simplicity. His passion for technology lies in its potential to
                make life better for everyone, and he thrives on turning complex
                ideas into accessible solutions.
              </p>
              <p>
                When he's not coding or debugging, Mack dives headfirst into his
                other great loves: vintage comic, sci-fi, fantasy, and horror
                books. His shelves are a treasure trove of captivating stories
                from bygone eras, brimming with iconic characters and timeless
                adventures. His enthusiasm doesn't stop at the page, either
                &mdash; his collection of comic book and sci-fi toys is a
                testament to his love for all things nostalgic and geeky.
              </p>
              <p>
                Whether he's building the next big app, marveling to the
                adventures of Superman or Batman, hunting for a rare action
                figure, or learning new ways to bend technology to his will,
                Mack brings creativity and passion to everything he does.
              </p>
              <h3>Mack's Business Side</h3>
              <div class="hire-mack">
                <img
                  src="/assets/images/mack-tie.png"
                  alt=""
                  class="avatar left mack-tie"
                />
                <p>
                  Mack has a wealth of experience in software development, with
                  a focus on web and business applications. He's worked with a
                  variety of technologies and platforms, such as Claris
                  FileMaker Pro, WordPress and Astro SSG. His expertise extends
                  to databases, API integrations and deployment pipelines,
                  making him a versatile and adaptable developer.
                </p>
                <a
                  href="https://hiremack.com"
                  target="_blank"
                  class="button primary"
                >
                  See Mack's Full Work Experience</a
                >
              </div>
              <h3>Mack's Fun Side</h3>
              <div class="mackdaddy-fun">
                <p>
                  Do you love comic books? &hellip;toys? &hellip;games?
                  &hellip;movies?
                </p>
                <img
                  src="/assets/images/mackdaddy-8bit.png"
                  alt=""
                  class="avatar left mackdaddy"
                />
                <p>That's <b>GREAT</b>!!! So does Mack.</p>
                <p>
                  Mack is a long-time purveyor of the joys of comic books; and
                  all the toys, board games, card games, video games, movies &
                  tv shows based on them.
                </p>
                <p>
                  Mack runs MackDaddy Fun &amp; Games a channel about the joys
                  of comic books, toys, games <i
                    >(of the physical and video variety)</i
                  >, and almost anything else that's fun in the Pop Culture
                  universe.
                </p>
                <div class="buttons">
                  <a href={youtube} target="_blank" class="button secondary">
                    <img
                      src="/assets/images/youtube.png"
                      alt="YouTube"
                    />MackDaddy Fun &amp; Games on YouTube</a
                  >
                  <a
                    href="/category/mackdaddy-fun-games/"
                    class="button primary">MackDaddy Fun &amp; Games Articles</a
                  >
                </div>
              </div>
              <h3>Even More Mack</h3>
              <Social />
            </section>
          </article>
          <section class="card__meta">
            <p>Last Updated: 2024-11-20</p>
          </section>
        </section>
      </div><!-- end: .card-wrapper -->
    </div>
  </main>
</Layout>

<style>
  main {
    display: block;
    margin-inline: auto;
    width: min(100ch, 95%);
  }

  @supports not (display: grid-lanes) {
    main {
      columns: unset;
    }
  }
  article p {
    margin-bottom: 2rem;
  }
  #content {
    display: flow-root;
    padding: 2rem;
  }
  #content h1 {
    font-size: clamp(2rem, 2vw + 2rem, 5rem);
    margin-bottom: 2rem;
    text-align: center;
  }
  #content p {
    margin-bottom: 2rem;
  }
  #content p:last-of-type {
    margin-bottom: 0;
  }
  .card__content h3 {
    border-bottom: 3px double hsl(var(--color-dark), 1);
    font-size: clamp(1rem, 2vw + 1rem, 3rem);
    font-weight: bold;
    margin: 2rem 0;
    padding-bottom: 1rem;
    text-align: center;
  }
  .avatar.mack-hoodie {
    shape-outside: url(/assets/images/mack.png);
    shape-margin: 1.5rem;
    margin: 0 1rem 1rem -0.5rem;
  }
  .avatar.mack-tie {
    shape-outside: url(/assets/images/mack-tie.png);
    shape-margin: 1.5rem;
    margin: 0 1rem 1rem -0.5rem;
    max-width: 200px;
  }
  .avatar.mackdaddy {
    shape-outside: url(/assets/images/mackdaddy-8bit.png);
    shape-margin: 1.5rem;
    margin: 0 1rem 1rem 0;
    max-width: 150px;
  }
  :where(.hire-mack, .mackdaddy-fun) {
    display: flow-root;
  }
  :where(.hire-mack, .mackdaddy-fun) > .button {
    display: block;
    margin: 2rem auto;
    text-align: center;
  }
  .card__header a.button {
    all: unset;
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    width: 36px;
  }
  .buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 2rem 0;
  }
  .buttons .button {
    margin: 0;
  }
  .button {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }
  .button > img {
    margin: 0;
    height: 24px;
    width: 24px;
  }
  .control.collapse,
  .control.expand {
    opacity: 0;
  }
  .social {
    margin-bottom: 2rem;
  }
</style>
