---
// library imports
import { getCollection, type CollectionEntry } from "astro:content";

// data imports
import * as site from "../data/site.json";

// layout imports
import Layout from "../layouts/Layout.astro";

//  component imports
import Hero from "../components/Hero.astro";
import PostCard from "../components/PostCard.astro";

// utils imports
import { formatBlogPosts } from "../js/utils";

// retrieve all blog posts
const allPosts = await getCollection("blog");
const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts, {
	// limit: 4,
});

const { author, description } = site;
const title = "Home";
---

<Layout title={title} description={description} />
<main>
	<header id="mack">
		<Hero title={author} description={description} />
	</header>
	<div id="subgrid">
		<div>
			<div class="card alt featured">
				<header class="card__header">
					<div class="title">
						<h3 class="card__title">
							<a href="/category/filemaker/" class="badge"
								>FileMaker</a
							>
						</h3>
						<span class="icon filemaker">&nbsp;</span>
					</div>
					<img
						src="/assets/images/title-bar-expand.png"
						height="28"
						width="28"
						class="control expand"
					/>
					<img
						src="/assets/images/title-bar-collapse.png"
						height="28"
						width="28"
						class="control collapse"
					/>
				</header>
				<section class="card__content filemaker">
					<article>
						<h1 class="title">FileMaker Articles</h1>
					</article>
				</section>
			</div>
			{
				formattedPosts
					.filter((post) => post.data.category === "FileMaker") // Filter posts by category
					.map((post) => (
						<PostCard
							data={post.data}
							url={post.slug}
							tagType="h2"
						/>
					))
			}
		</div>
		<div>
			<div class="card alt featured">
				<header class="card__header">
					<div class="title">
						<h3 class="card__title">
							<a href="/category/coding/" class="badge">Coding</a>
						</h3>
						<span class="icon coding">&nbsp;</span>
					</div>
					<img
						src="/assets/images/title-bar-expand.png"
						height="28"
						width="28"
						class="control expand"
					/>
					<img
						src="/assets/images/title-bar-collapse.png"
						height="28"
						width="28"
						class="control collapse"
					/>
				</header>
				<section class="card__content coding">
					<article>
						<h1 class="title">Coding Articles</h1>
					</article>
				</section>
			</div>
			{
				formattedPosts
					.filter((post) => post.data.category === "Coding") // Filter posts by category
					.map((post) => (
						<PostCard
							data={post.data}
							url={post.slug}
							tagType="h2"
						/>
					))
			}
		</div>
	</div>
</main>

<style>
	@media screen and (min-width: 1024px) {
		main {
			grid-template-columns: 33% 1fr;
			margin: 0 0 0 1rem;
		}
	}
	#subgrid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		gap: 1rem;
	}
	div.card.alt.featured {
		margin-bottom: 1rem !important;
	}
</style>
